/*==========================================
    error
==========================================*/
.error {
    padding: 120px 0;
    .part-img {
        img {
            width: 100%;
        }
    }
    .part-text {
        text-align: center;
        margin-top: 60px; 
        h2 {
            font-size: 45px;
            line-height: 60px;
            font-weight: 700;
            color: #0c375a;
            margin-top: -14px;
            margin-bottom: 0px;
        }
    }
}